.my-caption{
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}
.navbar{
    background-color: #222328;
    padding: 20px 0;
    font-size: 18px;
}
.navbar ul li a{
    font-weight: 500;
    color: white;
    margin-right: 12px;
}

.navbar ul li a:hover{
    color: #F75757;
}

.navbar-brand{
    color: #F75757;
    font-size: 25px;
    font-weight: 800;
    font-family: "Apple Color Emoji";
}
.navbar-brand:hover{
    color: #F75757;
    font-weight: 800;
}
.dropdown-menu {
    background-color: #222328;
}
.footer-end p a {
    color: #F75757;
    font-weight: 500;
}
footer{
    background-color: #222328;
}
.footer-card {
    background-color: #222328;
}
.footer-card a:hover {
    color: #F75757;
}

.custom-btn{
    background-color: #F75757;
    color: #222328;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #222328;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.custom-btn:hover{
    background-color: #222328;
    color: #F75757;
    transition: .5s;
}
